<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.green.greengram.feed.FeedMapper">

    <insert id="postFeed" useGeneratedKeys="true" keyProperty="feedId">
        INSERT INTO feed
        SET writer_id = #{userId}
        , contents = #{contents}
        , location = #{location}
    </insert>

    <insert id="postFeedPics">
        INSERT INTO feed_pics
        ( feed_id, pic )
        VALUES
        <foreach item="item" collection = "fileNames" separator=",">
            ( #{feedId}, #{item} )
        </foreach>
    </insert>

    <select id="getFeed">
        SELECT A.feed_id AS feedId, B.user_id AS writerId, B.nm AS writerNm,
        B.pic AS writerPic, A.created_at AS createdAt, A.contents, A.location
        FROM feed A
        INNER JOIN user B
        ON A.writer_id = B.user_id
        ORDER BY A.feed_id DESC
        LIMIT #{startIdx}, #{len} ;
    </select>

    <select id="getFeedPicsByFeedId">
        SELECT pic
        FROM feed_pics
        WHERE feed_id = #{feedId}
    </select>
</mapper>